<h1 class="title">Generator liczb</h1>
<div>
  <div class="appWrapper">
    <h3 class="secondTitle">zakres</h3>
    <div class="valuesWrapper">
      <label class="valLabel">od:
        <input 
          class="valInput"
          type="number"
          [(ngModel)]="values.min" 
          placeholder="min"/>
      </label>
      <label class="valLabel">do:
        <input
          class="valInput"
          type="number"
          [(ngModel)]="values.max"
          placeholder="max"/>
      </label>
    </div>
    <button 
      class="submitButton"
      (click)="generate()" >Wygeneruj</button>
    <div class="resultContainer">
      <p class="resultNumber">{{generated}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>